*{
    color: white; 
}

img {
    border-radius: 20px;
}

html, body{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    color: black;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
main{
    position: relative;
    padding-top: 10%;
}
header img{
    max-width: 500px;
    width: 50%;
    
}
nav{
    text-align: center;
    padding-right: 50px;  
      
}
nav ul{
    list-style-type: none;
}
nav ul li  {
    border-radius: 10px;
    background-color: black ;
    text-align: center;
    color: white;
    display: inline;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    
}
nav ul li a:hover{
   background-color:red;
   transition: 0,5s;
}
#Peliculas_Y_Series{
   margin-top: 8%; 
   margin-left: 2%;
   flex-direction: row;
   flex-wrap: wrap;
   width: 45%;
   display: flex;
   justify-content: center;
   gap: 50px;
}
#Peliculas_Y_Series article{
    border: 1px solid red;
}

#Peliculas_Y_Series article img{
width: 200px;
height: 300px;
padding-left: 10px;
}

.container{
padding-left: 10px;
}
 